@using Föreläsning4___ModelControllerView___Razor.Controllers

@{
    ViewBag.Title = "StarsFromController";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>StarsFromController</h2>
@Html.RatingsStars(33)
